<div class="row">
  <div class="col-12">
    <img src="{{recipe.imagePath}}" alt="{{recipe.name}}" class="img-fluid" style="width: 100%">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="dropdown show">
      <button type="button" class="btn btn-primary dropdown-toggle" appDropdown data-toggle="dropdown">Manage recipe
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#" style="cursor:pointer;" (click)="toShoppingList()">Add ingredients to shopping
          list</a>
        <a style="cursor: pointer;" class="dropdown-item" (click)="editRecipe()">Edit recipe</a>
        <a style="cursor: pointer;" class="dropdown-item">Delete recipe</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
