<div class="row">
  <div class="col-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-12">
          <button [disabled]="recipeForm.invalid" type="submit" class="btn btn-success mr-1">Save</button>
          <button type="button" class="btn btn-danger mr-1" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="path">Image Path</label>
            <input type="text" id="path" class="form-control" formControlName="imagePath" #imagePath>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="recipeForm.get('imagePath').valid">
        <div class="col-12">
          <img class="img-fluid" [src]="imagePath.value" alt="Image">
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" class="form-control" rows="6" formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" formArrayName="ingredients">
          <div class="row"
               *ngFor="let ingredientCtrl of ingredients; let i = index"
               [formGroupName]="i">
            <div class="col-8 mt-1">
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-2 mt-1">
              <input type="number" class="form-control" formControlName="amount">
            </div>
            <div class="col-2 mt-1">
              <button type="button" class="btn btn-danger mr-1" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <div class="row">
            <hr/>
            <div class="col-12">
              <button type="button" class="btn btn-success mt-2 ml-1" (click)="onAddIngredient()">Add ingredient</button>
              <button *ngIf="ingredients.length > 0" type="button" class="btn btn-danger mt-2 ml-1"
                      (click)="onClearIngredients()">Remove all ingredients</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div> <p *ngIf="editMode">Edit mode</p>
<p *ngIf="!editMode">New mode</p>
